[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
sympy = "*"
ipykernel = "*"
matplotlib-label-lines = "*"
pandas = "*"
sklearn = "*"
seaborn = "*"
aiohttp = "*"
asyncio = "*"
async-timeout = "==4.0.0a3"
openpyxl = "*"
us = "*"
xlrd = "*"
census = "*"
keras = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
